:root {
  --header-height: 80px;
  --footer-height: 210px;
  --base-color: #9bcc68;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

html,
body * {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

body,
#root {
  width: 100dvw;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
  filter: brightness(110%);
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

.ql-container,
.ql-editor,
.ql-blank {
  padding: 0;
}
.quill .ql-editor {
  max-height: calc(100dvh - 500px);
  min-height: 200px; /* 원하는 최소 높이로 설정 */
  padding: 15px;
}
.ql-editor * {
  font-size: 1.15rem;
  color: black;
}
.ql-editor strong {
  font-weight: bold;
}
.ql-editor ul {
  padding: 0;
}
.ql-editor li {
  margin: 15px 0;
}
.ql-size-small {
  font-size: 0.9rem !important;
}
.ql-size-large {
  font-size: 1.9rem !important;
}
.ql-size-huge {
  font-size: 2.5rem !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: none;
}
